<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="MailServer" value="smtp.gmail.com" />
		<add key="MailServerPort" value="587" />
		<add key="DefaultEmailAddress" value="DEFAULTEMAILADDRESS@gmail.com" />
		<add key="DefaultEmailAddressPassword" value="DEFAULTEMAILADDRESSPASSWORD" />
		<add key="RecipientEmailAddress" value="RECIPIENTEMAILADDRESS@gmail.com" />
	</appSettings>
</configuration>